In [667]:
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
from scipy.optimize import minimize
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import xgboost as xgb

import warnings 
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',200)

In [668]:
train= pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [669]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3865 entries, 0 to 3864
Data columns (total 80 columns):
galactic year                                                                              3865 non-null int64
galaxy                                                                                     3865 non-null object
existence expectancy index                                                                 3864 non-null float64
existence expectancy at birth                                                              3864 non-null float64
Gross income per capita                                                                    3837 non-null float64
Income Index                                                                               3837 non-null float64
Expected years of education (galactic years)                                               3732 non-null float64
Mean years of education (galactic years)                                                   3502 non-null float64
Intergalactic Development Index (IDI)                                                      3474 non-null float64
Education Index                                                                            3474 non-null float64
Intergalactic Development Index (IDI), Rank                                                3432 non-null float64
Population using at least basic drinking-water services (%)                                2021 non-null float64
Population using at least basic sanitation services (%)                                    2015 non-null float64
Gross capital formation (% of GGP)                                                         1502 non-null float64
Population, total (millions)                                                               1271 non-null float64
Population, urban (%)                                                                      1271 non-null float64
Mortality rate, under-five (per 1,000 live births)                                         1271 non-null float64
Mortality rate, infant (per 1,000 live births)                                             1259 non-null float64
Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))           1264 non-null float64
Population, ages 15–64 (millions)                                                          1264 non-null float64
Population, ages 65 and older (millions)                                                   1264 non-null float64
Life expectancy at birth, male (galactic years)                                            1264 non-null float64
Life expectancy at birth, female (galactic years)                                          1264 non-null float64
Population, under age 5 (millions)                                                         1264 non-null float64
Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                           1264 non-null float64
Adolescent birth rate (births per 1,000 female creatures ages 15-19)                       1252 non-null float64
Total unemployment rate (female to male ratio)                                             1237 non-null float64
Vulnerable employment (% of total employment)                                              1237 non-null float64
Unemployment, total (% of labour force)                                                    1237 non-null float64
Employment in agriculture (% of total employment)                                          1237 non-null float64
Labour force participation rate (% ages 15 and older)                                      1237 non-null float64
Labour force participation rate (% ages 15 and older), female                              1237 non-null float64
Employment in services (% of total employment)                                             1237 non-null float64
Labour force participation rate (% ages 15 and older), male                                1237 non-null float64
Employment to population ratio (% ages 15 and older)                                       1237 non-null float64
Jungle area (% of total land area)                                                         1234 non-null float64
Share of employment in nonagriculture, female (% of total employment in nonagriculture)    1237 non-null float64
Youth unemployment rate (female to male ratio)                                             1236 non-null float64
Unemployment, youth (% ages 15–24)                                                         1236 non-null float64
Mortality rate, female grown up (per 1,000 people)                                         1253 non-null float64
Mortality rate, male grown up (per 1,000 people)                                           1253 non-null float64
Infants lacking immunization, red hot disease (% of one-galactic year-olds)                1219 non-null float64
Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)            1219 non-null float64
Gross galactic product (GGP) per capita                                                    1202 non-null float64
Gross galactic product (GGP), total                                                        1202 non-null float64
Outer Galaxies direct investment, net inflows (% of GGP)                                   1169 non-null float64
Exports and imports (% of GGP)                                                             1144 non-null float64
Share of seats in senate (% held by female)                                                1123 non-null float64
Natural resource depletion                                                                 1132 non-null float64
Mean years of education, female (galactic years)                                           1140 non-null float64
Mean years of education, male (galactic years)                                             1138 non-null float64
Expected years of education, female (galactic years)                                       1109 non-null float64
Expected years of education, male (galactic years)                                         1108 non-null float64
Maternal mortality ratio (deaths per 100,000 live births)                                  1252 non-null float64
Renewable energy consumption (% of total final energy consumption)                         1235 non-null float64
Estimated gross galactic income per capita, male                                           1055 non-null float64
Estimated gross galactic income per capita, female                                         1055 non-null float64
Rural population with access to electricity (%)                                            1029 non-null float64
Domestic credit provided by financial sector (% of GGP)                                    1079 non-null float64
Population with at least some secondary education, female (% ages 25 and older)            1089 non-null float64
Population with at least some secondary education, male (% ages 25 and older)              1087 non-null float64
Gross fixed capital formation (% of GGP)                                                   1074 non-null float64
Remittances, inflows (% of GGP)                                                            1028 non-null float64
Population with at least some secondary education (% ages 25 and older)                    1051 non-null float64
Intergalactic inbound tourists (thousands)                                                 995 non-null float64
Gross enrolment ratio, primary (% of primary under-age population)                         1038 non-null float64
Respiratory disease incidence (per 100,000 people)                                         896 non-null float64
Interstellar phone subscriptions (per 100 people)                                          891 non-null float64
Interstellar Data Net users, total (% of population)                                       872 non-null float64
Current health expenditure (% of GGP)                                                      867 non-null float64
Intergalactic Development Index (IDI), female                                              916 non-null float64
Intergalactic Development Index (IDI), male                                                915 non-null float64
Gender Development Index (GDI)                                                             914 non-null float64
Intergalactic Development Index (IDI), female, Rank                                        893 non-null float64
Intergalactic Development Index (IDI), male, Rank                                          892 non-null float64
Adjusted net savings                                                                       912 non-null float64
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                  941 non-null float64
Private galaxy capital flows (% of GGP)                                                    874 non-null float64
Gender Inequality Index (GII)                                                              844 non-null float64
y                                                                                          3865 non-null float64
dtypes: float64(78), int64(1), object(1)
memory usage: 2.4+ MB

In [670]:
train.describe(include='all')

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
count,3.865000e+03,3865,3864.000000,3864.000000,3837.000000,3837.000000,3732.000000,3502.000000,3474.000000,3474.000000,3432.000000,2021.000000,2015.000000,1502.000000,1271.000000,1271.000000,1271.000000,1259.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000,1252.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1234.000000,1237.000000,1236.000000,1236.000000,1253.000000,1253.000000,1219.000000,1219.000000,1202.000000,1202.000000,1169.000000,1144.000000,1123.000000,1132.000000,1140.000000,1138.000000,1109.000000,1108.000000,1252.000000,1235.000000,1055.000000,1055.000000,1029.000000,1079.000000,1089.000000,1087.000000,1074.000000,1028.000000,1051.000000,9.950000e+02,1038.000000,896.000000,891.000000,872.000000,867.000000,916.000000,915.000000,914.000000,893.000000,892.000000,912.000000,941.000000,874.000000,844.000000,3865.000000
unique,NaN,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Tucana Dwarf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.000709e+06,NaN,0.872479,76.798111,31633.240872,0.825154,14.723296,10.283959,0.804246,0.745900,135.129178,101.892238,99.936784,31.857342,891.288631,77.226910,97.400110,64.900678,18.901363,578.330955,65.069402,74.721619,80.157778,89.530729,78.215747,113.357030,2.773713,68.643870,14.614163,54.028587,72.697426,66.164818,68.315626,82.919633,68.952026,55.018813,50.157581,2.256298,29.631487,267.436281,344.343547,31.329011,18.803610,33338.261474,7749.980713,18.342364,133.437435,26.620189,13.768609,10.591274,10.869666,15.693664,14.994516,554.342469,63.727357,42115.320694,23037.546899,108.278880,118.691310,79.807076,82.869205,29.939315,11.934754,81.103612,1.155343e+05,115.660372,313.414095,116.617049,57.885348,8.837096,0.823561,0.844209,1.008465,121.754797,120.873428,21.252922,6.443023,22.261474,0.600733,0.082773
std,6.945463e+03,NaN,0.162367,10.461654,18736.378445,0.194055,3.612546,3.319948,0.176242,0.199795,52.449535,20.319860,32.364952,8.476195,894.146454,24.199224,55.721177,33.996543,7.540301,571.041188,63.140348,9.895094,10.670691,89.705054,25.532294,52.084687,1.336833,29.777854,6.740401,25.158795,10.742800,16.835815,19.271434,9.248342,12.131908,24.795099,11.865219,0.810118,12.940235,116.799361,124.247684,16.871995,11.507015,18946.699888,7167.779999,15.384455,53.008439,11.080168,9.601278,3.699796,3.116771,3.989264,3.227630,359.375217,32.246925,24076.405011,13075.768516,39.648937,61.434493,30.724724,28.319110,7.644602,9.019880,29.881017,1.133816e+05,17.311864,195.343738,50.065611,29.801042,2.806800,0.185780,0.159041,0.087299,46.269362,46.795666,14.258986,4.804873,34.342797,0.205785,0.063415
min,9.900250e+05,NaN,0.227890,34.244062,-126.906522,0.292001,3.799663,1.928166,0.273684,0.189874,9.925906,33.135967,10.609505,2.486353,-160.436179,20.784384,9.723443,12.790939,4.297445,-91.294595,-23.658715,39.156694,40.938180,-2.089459,11.622025,14.344434,0.926083,11.659018,1.957005,-0.682781,44.236746,14.411328,13.818126,47.244415,33.395005,7.133942,13.016707,0.611536,4.484507,65.329077,75.165358,2.338115,-1.319575,4007.142621,-933.222806,-5.266101,18.993336,4.228300,-0.374549,1.317012,2.948515,3.732250,3.840845,39.176506,-1.047957,4247.338987,-947.544715,1.527037,-38.295200,7.788436,11.221248,6.131390,-0.077896,9.872986,-9.669280e+03,35.855813,31.687326,18.088936,0.513487,2.313778,0.305733,0.369519,0.465177,23.224603,16.215151,-76.741414,-1.192011,-735.186886,0.089092,0.013036
25%,9.950060e+05,NaN,0.763027,69.961449,20169.118912,0.677131,12.592467,7.654169,0.671862,0.597746,92.262724,89.467683,73.450973,27.183674,599.651057,57.480546,58.145609,39.368545,13.498253,393.558400,43.445133,68.090341,72.914881,60.158448,56.594056,72.363979,2.191452,43.709437,9.828877,34.149665,65.539014,56.422025,54.665794,76.724588,61.087487,34.476071,45.276555,1.829488,20.467253,182.561613,252.479104,19.661923,11.912306,21175.029316,5479.463771,13.016455,101.380154,18.442353,8.617752,7.488910,8.525989,13.330465,13.173085,322.722190,38.015828,26665.473530,14589.009568,76.993508,78.535217,55.374502,60.462931,25.474123,7.416814,56.907166,7.824962e+04,109.728154,193.630580,72.951064,34.154325,6.843091,0.690707,0.731264,0.965800,84.090816,82.232550,15.001028,4.113472,17.227899,0.430332,0.047889
50%,1.000000e+06,NaN,0.907359,78.995101,26600.768195,0.827300,14.942913,10.385465,0.824758,0.761255,135.914318,108.420709,110.268786,31.218326,774.106124,77.513523,79.132444,55.483755,16.690579,501.290141,56.847260,76.575955,82.654962,77.691358,75.229151,103.810446,2.586348,64.269229,13.282366,49.544387,72.503192,67.220676,69.399759,83.563166,69.390147,53.323552,52.655253,2.163894,26.696081,238.147211,327.445756,26.548535,15.337205,27952.615994,7130.470458,16.748539,125.729240,24.478649,11.276238,10.590505,10.878198,16.040843,14.982357,441.946366,55.306614,35510.062934,19431.715788,123.891613,104.415494,79.109907,81.261541,29.422015,10.043176,80.392817,1.017765e+05,117.509720,256.146014,121.210823,49.276119,8.518629,0.835410,0.862773,1.029947,120.069916,121.057923,22.182571,5.309497,24.472557,0.624640,0.057820
75%,1.006009e+06,NaN,0.992760,84.558971,36898.631754,0.970295,17.123797,12.884752,0.939043,0.893505,175.301993,116.904405,125.643093,36.028713,952.230520,97.683482,123.568133,83.306699,23.289465,614.058179,69.752739,82.063402,88.028001,95.077464,99.880174,145.084181,3.082616,92.379565,17.698858,71.633303,79.363394,76.365586,83.128028,89.183736,76.238239,71.525418,57.670739,2.570585,36.429821,325.978020,414.889764,38.217158,21.355407,40374.968031,8786.804004,20.931706,154.888236,33.253269,15.546214,13.567263,13.214606,18.498455,17.088973,680.904735,87.353384,50069.354641,27312.730190,138.284913,145.758140,104.892998,105.868025,33.548092,13.234928,103.964291,1.246525e+05,124.388203,361.773182,156.301903,77.881871,10.573365,0.970365,0.961369,1.068481,158.579644,157.815625,29.134738,6.814577,31.748295,0.767404,0.087389
max,1.015056e+06,NaN,1.246908,100.210053,151072.683156,1.361883,26.955944,19.057648,1.232814,1.269625,278.786613,136.321824,161.270978,72.305819,7993.323502,129.912097,379.419737,208.502053,52.216232,5542.809249,649.493058,95.541930,101.675801,780.964371,137.203149,289.808313,29.656664,143.932157,44.852490,131.092102,103.898908,116.987448,110.761569,106.820516,103.960645,134.467454,79.490457,14.796261,84.100643,764.791133,854.029298,97.681914,72.426218,134636.648053,112391.316735,362.550323,477.057255,69.851544,100.405982,18.492886,19.136964,26.981588,29.045188,3178.333696,146.130697,187663.569771,83638.776543,174.913425,555.803450,153.670584,150.695400,75.084941,172.734338,149.492015,1.228843e+06,178.402762,1380.914850,271.310695,141.382200,23.531546,1.237661,1.182746,1.181230,232.720847,233.915373,61.903641,36.538462,95.941245,1.098439,0.683813

In [671]:
(train.isnull().sum()/len(train)*100)

galactic year                                                                               0.000000
galaxy                                                                                      0.000000
existence expectancy index                                                                  0.025873
existence expectancy at birth                                                               0.025873
Gross income per capita                                                                     0.724450
Income Index                                                                                0.724450
Expected years of education (galactic years)                                                3.441138
Mean years of education (galactic years)                                                    9.391979
Intergalactic Development Index (IDI)                                                      10.116429
Education Index                                                                            10.116429
Intergalactic Development Index (IDI), Rank                                                11.203105
Population using at least basic drinking-water services (%)                                47.710220
Population using at least basic sanitation services (%)                                    47.865459
Gross capital formation (% of GGP)                                                         61.138422
Population, total (millions)                                                               67.115136
Population, urban (%)                                                                      67.115136
Mortality rate, under-five (per 1,000 live births)                                         67.115136
Mortality rate, infant (per 1,000 live births)                                             67.425614
Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))           67.296248
Population, ages 15–64 (millions)                                                          67.296248
Population, ages 65 and older (millions)                                                   67.296248
Life expectancy at birth, male (galactic years)                                            67.296248
Life expectancy at birth, female (galactic years)                                          67.296248
Population, under age 5 (millions)                                                         67.296248
Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                           67.296248
Adolescent birth rate (births per 1,000 female creatures ages 15-19)                       67.606727
Total unemployment rate (female to male ratio)                                             67.994825
Vulnerable employment (% of total employment)                                              67.994825
Unemployment, total (% of labour force)                                                    67.994825
Employment in agriculture (% of total employment)                                          67.994825
Labour force participation rate (% ages 15 and older)                                      67.994825
Labour force participation rate (% ages 15 and older), female                              67.994825
Employment in services (% of total employment)                                             67.994825
Labour force participation rate (% ages 15 and older), male                                67.994825
Employment to population ratio (% ages 15 and older)                                       67.994825
Jungle area (% of total land area)                                                         68.072445
Share of employment in nonagriculture, female (% of total employment in nonagriculture)    67.994825
Youth unemployment rate (female to male ratio)                                             68.020699
Unemployment, youth (% ages 15–24)                                                         68.020699
Mortality rate, female grown up (per 1,000 people)                                         67.580854
Mortality rate, male grown up (per 1,000 people)                                           67.580854
Infants lacking immunization, red hot disease (% of one-galactic year-olds)                68.460543
Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)            68.460543
Gross galactic product (GGP) per capita                                                    68.900388
Gross galactic product (GGP), total                                                        68.900388
Outer Galaxies direct investment, net inflows (% of GGP)                                   69.754204
Exports and imports (% of GGP)                                                             70.401035
Share of seats in senate (% held by female)                                                70.944373
Natural resource depletion                                                                 70.711514
Mean years of education, female (galactic years)                                           70.504528
Mean years of education, male (galactic years)                                             70.556274
Expected years of education, female (galactic years)                                       71.306598
Expected years of education, male (galactic years)                                         71.332471
Maternal mortality ratio (deaths per 100,000 live births)                                  67.606727
Renewable energy consumption (% of total final energy consumption)                         68.046572
Estimated gross galactic income per capita, male                                           72.703752
Estimated gross galactic income per capita, female                                         72.703752
Rural population with access to electricity (%)                                            73.376455
Domestic credit provided by financial sector (% of GGP)                                    72.082794
Population with at least some secondary education, female (% ages 25 and older)            71.824062
Population with at least some secondary education, male (% ages 25 and older)              71.875809
Gross fixed capital formation (% of GGP)                                                   72.212160
Remittances, inflows (% of GGP)                                                            73.402329
Population with at least some secondary education (% ages 25 and older)                    72.807245
Intergalactic inbound tourists (thousands)                                                 74.256145
Gross enrolment ratio, primary (% of primary under-age population)                         73.143596
Respiratory disease incidence (per 100,000 people)                                         76.817594
Interstellar phone subscriptions (per 100 people)                                          76.946960
Interstellar Data Net users, total (% of population)                                       77.438551
Current health expenditure (% of GGP)                                                      77.567917
Intergalactic Development Index (IDI), female                                              76.300129
Intergalactic Development Index (IDI), male                                                76.326003
Gender Development Index (GDI)                                                             76.351876
Intergalactic Development Index (IDI), female, Rank                                        76.895213
Intergalactic Development Index (IDI), male, Rank                                          76.921087
Adjusted net savings                                                                       76.403622
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                  75.653299
Private galaxy capital flows (% of GGP)                                                    77.386805
Gender Inequality Index (GII)                                                              78.163001
y                                                                                           0.000000
dtype: float64

In [672]:
train.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,NaN,NaN,NaN,38.305483,681.841086,22.131436,150.259290,129.841789,12.403812,490.446400,60.121580,57.028183,69.825369,46.018230,98.216072,174.617899,NaN,NaN,NaN,NaN,79.614066,73.071600,NaN,85.851544,NaN,73.166354,NaN,NaN,NaN,431.270303,466.089287,16.167871,8.223563,21158.324865,7760.639489,13.617993,94.859306,NaN,8.436392,NaN,NaN,NaN,NaN,1237.228737,118.434634,NaN,NaN,NaN,75.604799,NaN,NaN,42.616284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,152.522198,NaN,NaN,36.255559,423.973089,89.294181,117.069332,61.822590,13.054898,560.547706,58.573002,69.873905,76.752305,40.167960,88.322574,109.892385,NaN,NaN,NaN,NaN,63.813720,45.482071,NaN,93.526359,NaN,35.590371,NaN,NaN,NaN,221.411013,376.475151,36.639519,21.007339,24984.044391,6969.137436,19.484830,77.935108,NaN,12.549351,7.096070,8.098794,11.797213,13.477707,544.458925,53.753525,NaN,NaN,NaN,57.214150,57.314932,56.187355,29.908422,6.225946,44.780023,NaN,120.886080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,209.813266,NaN,NaN,18.093991,285.572207,57.491083,226.523760,134.558437,15.963001,555.012461,43.078497,59.462626,59.152506,91.093668,114.163995,230.573666,NaN,NaN,NaN,NaN,80.874149,75.217727,NaN,95.041272,NaN,48.892555,NaN,NaN,NaN,513.730396,581.063598,31.958515,18.954434,19860.121520,3276.634176,13.357158,87.508620,NaN,13.949733,6.494764,6.730145,6.960041,6.805405,1537.953483,126.063691,NaN,NaN,NaN,76.141735,42.405827,53.927715,18.732049,4.138115,24.030945,NaN,96.626831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.202247,47.785456,279.000175,193.228799,12.940991,766.807703,51.318372,50.535797,54.931369,92.727892,97.645232,198.971328,NaN,NaN,NaN,NaN,84.721882,82.026125,NaN,86.307832,NaN,NaN,NaN,NaN,NaN,497.785386,612.106994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.655551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,71.885345,NaN,NaN,34.497468,633.799718,103.562629,28.359587,51.098250,25.521926,585.434804,56.158054,85.020965,84.708158,71.493810,53.835875,61.008654,NaN,NaN,NaN,NaN,61.086141,66.286848,NaN,76.671844,NaN,NaN,NaN,NaN,NaN,150.173225,213.691418,29.577375,11.134867,75156.049406,8957.403969,NaN,241.901357,NaN,15.090820,11.830216,12.122982,NaN,NaN,232.573140,39.192277,NaN,NaN,134.967049,NaN,77.223935,75.475076,31.398393,NaN,66.674651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

# Data Preprocessing,Feature Engineering,Feature Selection and Modelling

### Converting categorical feature to numbers

In [673]:
df=pd.concat([train,test], sort=False)
df["galaxy"] = df["galaxy"].astype('category')
df["galaxy"] = df["galaxy"].cat.codes
train = df[:3865]
test = df[3865:]
test=test.drop("y", axis = 1)
test_res= test.copy()

### Checking how many galaxies are there and how many of them are distinct.

In [674]:
train_gal=set(train["galaxy"])
s=0
for x in train_gal:
    s=s+len(train.loc[train['galaxy'] == x])
print("Total distinct galaxies: {}".format(len(train_gal)))
print("Average samples per galaxy: {}".format(s/len(train_gal)))

Total distinct galaxies: 181
Average samples per galaxy: 21.353591160220994

In [675]:

test_gal=set(test["galaxy"])
s=0
for x in test_gal:
    s=s+len(test.loc[test['galaxy'] == x])
print("Total distinct galaxies: {}".format(len(test_gal)))
print("Average samples per galaxy: {}".format(s/len(test_gal)))

Total distinct galaxies: 172
Average samples per galaxy: 5.174418604651163


# Methods for Cross-validating Training Data

I trained a model for exery distinct galaxy in the training set (180) except the one from 126th galaxy as it has only one sample.

I used features with top 20 correlation with respect to y (target variable) galaxy specific.

Missing values are filled with the galaxy specific iterative imputer using BayesianRidge alghorithm.

Standard Scaler is used to standardize data.

XGBoost Regression is used as a model.

I found the paratameters by trying them manually one by one.

Both training and cross-validating performed galaxy-specific.

In [764]:
def cross_validation_loop(data,cor):
    labels= data['y']
    data=data.drop('galaxy', axis=1)    
    data=data.drop('y', axis=1)
    
    correlation=abs(data.corrwith(labels))
    columns=correlation.nlargest(cor).index
    data=data[columns]
    
    imp = IterativeImputer(max_iter=10,random_state=123)
    data=imp.fit_transform(data)

    scaler = StandardScaler().fit(data)
    data = scaler.transform(data)
        
    estimator =  xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.4,
                 n_estimators = 1000,n_jobs=-1,learning_rate=0.072,max_leaves=10,max_depth=3,subsample=0.8,random_state=123)
    
    cv_results = cross_validate(estimator, data, labels, cv=4, scoring='neg_root_mean_squared_error')

    error=np.mean(cv_results['test_score'])
    
    return error

Code for cross-validating a model for every galaxy

In [765]:
train_gal=set(train["galaxy"])
train_gal.remove(126)
def loop_train(cor):
    errors=[]
    for gal in train_gal:
        index = train.index[train['galaxy'] == gal]
        data = train.loc[index]
        errors.append(cross_validation_loop(data,cor))
    return np.mean(errors)

In [679]:
print(loop_train(20))

-0.006051210426390182

## Making predictions on the test data

Similar methodology is used to fill the missing value and standardization.

The bestthreshold in the cross validation, 20, is used.

And predicting performed based on galaxy-specific data.

In [778]:
def test_loop(data, test_data):
    labels= data['y']
    data=data.drop('galaxy', axis=1)    
    data=data.drop('y', axis=1)
    correlation=abs(data.corrwith(labels))
    columns=correlation.nlargest(20).index
    
    train_labels= labels
    train_data=data[columns]
    test_data= test_data[columns]
    
    imp =  IterativeImputer(max_iter=10,random_state=123).fit(train_data)
    train_data=imp.transform(train_data)
    test_data=imp.transform(test_data)

    scaler = StandardScaler().fit(train_data)
    train_data = scaler.transform(train_data)
    test_data = scaler.transform(test_data)

    model =  xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.4,
                 n_estimators = 1000,n_jobs=-1,learning_rate=0.072,max_leaves=10,max_depth=3,subsample=0.8,random_state=123)
    model.fit(train_data, train_labels)

    predictions = model.predict(test_data)
    return predictions

In [779]:
test=test_res
test=test.sort_values(by=['galaxy'])
test_pred = pd.DataFrame(0, index=np.arange(len(test)), columns=["predicted_y"])

In [780]:
i=0
for gal in test_gal:
    count=len(test.loc[test['galaxy'] == gal])
    index = train.index[train['galaxy'] == gal]
    data = train.loc[index]
    pred=test_loop(data,test.loc[test['galaxy']==gal])
    test_pred.loc[i:i+count-1,'predicted_y'] = pred
    i=i+count

# Optimization

I solved optimization problem by maxmizing allocation function.For maxmizing it we need to allocate max energy to galaxies with highest potential increase within the given constraints.

In [781]:
predictions = test_pred["predicted_y"]

In [782]:
predictions.head()

0    0.028422
1    0.038526
2    0.038526
3    0.036476
4    0.038526
Name: predicted_y, dtype: float64

In [800]:
def optimization(file_name):
    
    #Finding potential and likely increase 
    potential=pd.DataFrame({'potential':-np.log(predictions+0.01)+3})
    likely=potential**2/1000
    likely=likely.rename(columns={'potential': 'likely'})
    
    #Finding top 500 galaxies with highest potential increase
    top_idx=likely.sort_values(ascending=False,by='likely').index
    top_idx=top_idx[:500]
    
    
    #Finding galaxies that have existence expectancy index below 0.7
    low_idx=test[test.iloc[:,2]<0.7].index
    #Finding galaxies that have highest potential within these galaxies.
    low_idx=likely.loc[low_idx].sort_values(ascending=False,by='likely').index
    
    #creating submission df
    submission = pd.DataFrame({
    'pred': predictions,
    'opt_pred':0
    })
    
    #Finding galaxies that are both in highest potential galaxies and low existence expectancy galaxies with highest potential
    indices=[]
    count=0
    
    for i in low_idx:
        for a in top_idx:
            if i == a:
                indices.append(i)
                count+=1
                
                
    #Finding galaxies that allocated 0 energy  with low existence expectancy index           
    remaining=np.setdiff1d(low_idx,indices)
    
    
    if count >= 50: #All leei galaxies got energy
        test_pred.loc[top_idx,'opt_pred']=100
    else: #There are galaxies remained with 0 energy
        
        top_remaining=50-count #LEII galaxies must get total 5000 energy(50*100)
        
        #Finding remained galaxies and allocate energy to them
        top_gals=len(top_idx)-top_remaining
        top_idx=top_idx[0:top_gals]
        submission.loc[top_idx,'opt_pred']=100
        
        top_remaining=remaining[0:top_remaining]
        submission.loc[top_remaining,'opt_pred']=100
        
    
    path=r"C:\\Users\\Kjaerbaye\\Desktop\\ML&DS\\prohack\\"+ file_name + r".csv"
    submission.to_csv(path_or_buf=path)
    
    print('Sum of allocated energy: %s'%submission['opt_pred'].sum())
    print('Sum of allocated energy to the galaxies with leei < 0.7: %s'%submission['opt_pred'].loc[low_idx].sum())

In [801]:
optimization('submission')

Sum of allocated energy: 50000
Sum of allocated energy to the galaxies with leei < 0.7: 5000